name: Build with integration tests and code coverage

on:
  push:
    branches: [ branch-4.x.x ]
  pull_request:
    branches: [ branch-4.x.x ]

jobs:
  build:
    strategy:
      max-parallel: 1
      matrix:
#        environment: [AWS-1, AWS-2, AWS-3, YANDEX-1, YANDEX-2]
#        java-version: [8, 11]
        environment: [AWS-1]
        java-version: [8]
    environment: ${{ matrix.environment }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'liberica'
        cache: 'maven'

    - name: Submit Dependency Snapshot
      uses: advanced-security/maven-dependency-submission-action@v3

    - name: Build with Maven
      run: mvn -B package --file pom.xml
      env:
        BASE_URL: ${{ vars.BASE_URL }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        junit_files: "target/surefire-reports/junitreports/*.xml"

    - name: Run Jacoco reports
      run: mvn -V -B -e jacoco:report

    - name: Submit codecov data
      run: bash <(curl -s https://codecov.io/bash)
